.followRequest {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 25px 25px 49px #e2dff0,
                -25px -25px 49px #ffffffe8;
  }
  
  .request {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 16px;
    margin-bottom: 8px;
  }.followRequest {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 25px 25px 49px #e2dff0,
                -25px -25px 49px #ffffffe8;
  }
  
  .widgets__title {
    color: #0058A2;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .request {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 16px;
    margin-bottom: 8px;
    background-color: #f1f1f1;
  }
  
  .request span {
    font-size: 16px;
    font-weight: bold;
  }
  
  .acceptButton,
  .declineButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0058A2;
    color: #FFFFFF;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .acceptButton:hover,
  .declineButton:hover {
    opacity: 0.8;
  }
  
  
  .request span {
    font-size: 16px;
    font-weight: bold;
  }
  
  .acceptButton,
  .declineButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0058A2;
    color: #FFFFFF;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .acceptButton:hover,
  .declineButton:hover {
    opacity: 0.8;
  }
  