.followers {
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    border-radius: 20px;  
    border-width: 2px;
    border-style: solid;
    border-color: gray;
}
  
.searchAuthor {
    display: flex;
    align-items: center;
    background-color: rgba(222, 222, 222, 0.5);
    padding: 8px 12px;
    border-radius: 24px;
    margin-bottom: 12px;
}
  
.followerSearchIcon {
    color: #1DA1F2;
    margin-right: 8px;
}
  
.searchAuthor > input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
    outline: none;
}
  
.searchResults2 {
    display: flex;
    flex-direction: column;
}
  
.userResult2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 12px;
    border-radius: 16px;
    margin-bottom: 8px;
}
  
.userResult2 span {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
} 

.popup-content {
    border-radius: 20px;
    max-width: 600px;
    border-color: black;
}