{% load static %}

<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Sign Up - Social Book</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

</head>

<body>
    <div class="register">
        <div class="registerCard">
            <div class="registerLeft">
                <h1 class="logo">Peer2Pressure</h1>
            </div>
            <div class="registerRight">
                <div class="registerBox">
                    <div class="formHead">
                        <h1>p2p</h1>
                    </div>
                    <form action="{% url 'signup' %}" method="post">
                    {% csrf_token %}
                        <input type="text" name="name" placeholder="Name" class="registerInput" />
                        <input type="text" name="username" placeholder="Username" class="registerInput" />
                        <input type="email" name="email" placeholder="Email" class="registerInput" />
                        <input type="password" name="password" placeholder="Password" class="registerInput" />
                        <input type="password" name="password2" placeholder="Re-Enter Password" class="registerInput" />
                        <div class="buttonBox">
                            <input type="submit" class="registerButton" value="Join">
                        </div>
                        <div class="registerSigninBox">
                            <span class="registerSigninDescription">Already on Peer2Pressure?</span>
                            <div class="register-button-container">
                                <a href="/accounts/login" class="register-button-text">Sign In</a>
                            </div>
                        </div>
                        <!-- <link to="/signin">
                        <button class="registerSigninButton">Sign in</button>
                        </link> -->
                    </form>   
                </div>
            </div>
        </div>
    </div>
</body>


</html>