/* body {
    background-color: red;
} */

.signin{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signinCard{
    width: 50%;
    height: 50%;
    display: flex;
    /* border: 1px solid black; */
}

.signinLeft, .signinRight{
    /* border: 1px solid yellow; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{

    font-size: 50px;
    font-weight: 800;
    color: #172f40;
    padding-right: 2rem;
}

.signinBox{

    height: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.signinInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid #DDDFE2;
    font-size: 24px;
    padding-left: 20px;
}

.signinInput{
    outline: none;
}

.signinButton{
    margin-top: 1em;
    margin-bottom: 1em;
    /* padding: 1em; */
    height: 50px;
    border-radius: 45px;
    border: none;
    background-color: #2977c9;
    color: white;
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
}

.joinBox{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinButton{
    margin-left: 2em;
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: #2977c9;
    cursor: pointer;
    text-decoration: none;
}

.joinDescription{
    font-weight: 600;
}