
.share {
    visibility: visible;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* position: relative; */
    height: fit-content;
    /* max-width: 600px; */
    /* border: 1px solid red; */
    width: 100%;
    margin-right: 20px;
}

.shareCard {
    display: flex;
    min-width: 600px;
    flex-direction: column;
    height: fit-content;
    background-color: white;
    /* border: 1px solid black; */
    /* height: 250px; */
    height: fit-content;
    align-content: space-between;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;  
    box-shadow:  25px 25px 49px #dde3ede4,
                    -25px -25px 49px #ffffff;
}

.top {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom {
    padding-top: 0.5rem;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.postOptionsContainer {
    margin-left: 2em;
    display: flex;
    flex-direction: row;
}

.postButton{
    height: max-content;
    border-radius: 20px;
    border: none;
    background-color: #2977c9;
    color: white;
    font-size: 1.4rem;
    padding: 0rem 0.5rem;
    /* font-weight: 800; */
    cursor: pointer;
    width: fit-content;
}

.textBox{
    width: fit-content;
    height: fit-content;
}

textarea {
    min-width: 30rem;
    width: fit-content;
    padding: 2rem;
    border-radius: 20px;
    border: none;
    /* background-color: rgba(190, 190, 190, 0.4); */
    background-color: rgba(222, 222, 222, 0.5);

    resize: none;
}

textarea:focus {
    outline: 0;
}

.shareText:hover, .shareImage:hover, .uploadImg:hover {
    color: rgb(22, 67, 113);
    cursor: pointer;
    
}

.shareText, .shareImage, .isPrivateSwitch, .uploadImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadImg {
    column-gap: 8px;
}


.postButtonBox {
    height: auto;
    display: flex;
    justify-content: right;
    /* padding-right: 1rem;
    padding-bottom: 1rem; */
    padding-right: 1.75em;
    /* border: 1px solid red; */
}

/* .imgPreview {
    border: 1px solid black;
} */

img {
    max-width: 10rem;
    max-height: 10rem;
}

.imgContainer {
    position: relative;
    width: fit-content;
    padding-left: 2rem;
}

.imgContainer button {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    background-color: red;
    color: white;
    font-size: 0.8rem;
    padding-bottom: 0.2rem;
    border: none;
    cursor: pointer;
    border-radius: 100%;
  }

/* .chooseContentType { */
    /* TODO: fix
    width: max-content;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
    background-color: white;
    margin-left: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-top: 1px solid #E5E8EC; */
/* } */

.chooseContentType {
    margin-left: 1.5rem;
}

/* dropdown modified from 'react-dropdown/style.css' */
.Dropdown-root {
    position: relative;
}

.Dropdown-control {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
}

.Dropdown-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0
}

.is-open .Dropdown-arrow {
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
}

.Dropdown-menu {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
    padding: 8px 10px;
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
    text-transform: capitalize;
}

.Dropdown-option {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: block;
    padding: 8px 10px;
}

.Dropdown-option:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
    background-color: #f2f9fc;
    color: #333;
}

.Dropdown-option.is-selected {
    background-color: #f2f9fc;
    color: #333;
}

.Dropdown-noresults {
    box-sizing: border-box;
    color: #ccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
}