
.profileBox{
    /* position: fix; */
    flex: 0.3;
    width: 15em;
    height: 30em;
    max-width: 300px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.9);
    row-gap: 25px;
    padding: 25px;
    border-radius: 20px;    
    box-shadow:  25px 25px 49px #dde3ede4,
                -25px -25px 49px #ffffff;
}

.profileImage {
    width: 60%;
    border-radius: 100%;
}

.manageProfileButton{
    width: 50%;
    white-space: nowrap; 
    min-width: auto;
    /* text-transform: unset !important; */
}

.editButtonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nameTitle {
    text-align: center;
}
.githubContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
   
}

text{
    color: #232323;
    font-weight: 400 ;
    padding-bottom: 7px;
}
.ConnectionCountText{
    padding-top: 7px;
}
.ConnectionCount {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    align-items: center;
    border-top: 0.1px solid #001;
    border-bottom: 0.1px solid #001;
}

.connectionsList {
    list-style-type: none;
    padding: 0;
  }
  
  .connectionItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 16px;
    margin-bottom: 8px;
    background-color: #f1f1f1;
  }
  
  .connectionItem span {
    font-size: 16px;
    font-weight: bold;
  }
  .post__headerSpecial {
    margin-bottom: 1px;
    background-color: rgb(160, 247, 160);
    /* padding: 1px;*/
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 600;
    font-size: 12px !important;
    color: rgb(91, 91, 91);
    border-radius: 20px;
  }
  
  .post__headerSpecial--different {
    margin-bottom: 1px;
    background-color: rgb(247, 211, 165);
    font-weight: 600;
    font-size: 12px !important;
    color: rgb(91, 91, 91);
    border-radius: 20px;
    border: 2px solid rgb(247, 211, 165);
  }
  .deleteConnectionButton {
    background-color: #0058A2;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .deleteConnectionButton:hover {
    opacity: 0.8;
  }
  #connections-modal-description {
    list-style-type: none;
    padding: 0;
    max-height: 250px; /* Adjust this value based on your desired height */
    overflow-y: auto;
  }
    