
.profileBox{
    /* position: fix; */
    flex: 0.3;
    width: 15em;
    height: 30em;
    max-width: 300px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.9);
    row-gap: 25px;
    padding: 25px;
    border-radius: 20px;    
    box-shadow:  25px 25px 49px #dde3ede4,
                -25px -25px 49px #ffffff;
}

.profileImage {
    width: 60%;
    border-radius: 100%;
}

.manageProfileButton{
    width: 50%;
    white-space: nowrap; 
    min-width: auto;
    /* text-transform: unset !important; */
}