body {
  --main-color: #0058A2;
  --main-background: #f8f8f8;
  background-color: #f7f8f9;
  font-family: "Montserrat";

  /* background-color: white;
  background-image: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGdyYWRpZW50fGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  /* background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url("https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/444dac86128681.5d909dad4c673.jpg"); */
  /*background-size: cover;
  background-attachment: fixed; */
  /* background-repeat: no-repeat;
  background-position: center center;  */
}
/* 
.app {
  display: flex;
  height: 100vh;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
} */
